ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.tli {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.game:link, .game:visited {
    background-color: #f44336;
    border-color: black;
    border: 3px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: center;
}

.game:hover, .game:active {
    background-color: red;
}



.snake {
    background-color: gray;
    color: white;
    padding: 16px 32px;
    border: black;
    text-align: center;
}

.snake:hover {
    background-color: red;
    padding: 16px 32px;
    color: white;
    border: blue;
    text-align: center;
}

 .BakeyBakersbutton {
    background-color: red;
      button-align: center;
    color: white;
    border: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
   .BakeyBakersbutton:hover {
    background-color: darkgray;
    color: red;
  }

.gamePic {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    }
}

.gameStarRate {
    display: inline-block;
}
